html {
    box-sizing: border-box;
    font-size: 62.5%;
    
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body{
    background-color: #181818;
  }
.flex-container{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.calculator-outline{
    width: 15rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.button{
    display: inline-block;
    
}










/* for button test */
/* .flex-container{
    border-top: 20px;
    border: solid 10px;
    background-color: #FFFAFA;
    height: 100vh;
    width: 100vw;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-color: rgba(0, 255, 0,1);
} */
/* .flex-container div{
    height: ;
} */
/* .btn-change{
    padding: 1rem;
    height: 6rem;
    color: #FFFFF0;
    background-color: #7f7f7f;
    border-radius: .5rem;
    font-size: 2rem;
    font-weight: 700;
}
.btn-change:hover{
    color: #2F4F4F;
    background-color: #FFB6C1;
    transition: 0.15s;
} */